

.w-auto{
  width: 100%;
}
.h-auto {
  height: 100%;
}
/* 常用间距 */
.p-32 {
  padding: 32rpx;
}
.pl-32 {
  padding-left: 32rpx;
}
.ptb-32 {
  padding: 32rpx 0;
}
.plr-32 {
  padding: 0 32rpx;
}
.pt-32 {
  padding-top: 32rpx;
}
.pb-32 {
  padding-bottom: 32rpx;
}
.ml-32 {
  margin-left: 32rpx;
}
.mr-32 {
  margin-right: 32rpx;
}
.mt-32 {
  margin-top: 32rpx;
}
.mb-32 {
  margin-bottom: 32rpx;
}
.ml-10 {
  margin-left: 10rpx;
}
.mr-10 {
  margin-right: 10rpx;
}
.mt-10 {
  margin-top: 10rpx;
}
.mt-5 {
  margin-top: 5rpx;
}
.mb-10 {
  margin-bottom: 10rpx;
}
.mb-20 {
  margin-bottom: 20rpx;
}